<section>TEst</section>
{% schema %}
{
    "name":"LNW Collecion Slider",
   "settings": [
    {
        "id":"collection-slider",
        "name":"Collection Slider",
        "type":"collection",
    }
   ],
   "template": ["index"],
   "presets":[
   {
    "name":"LNW Collection",
    "category":"LNW ",
   }],
}
{% endschema %}