<section>
    Test
</section>

{% schema %}
{
    
        "name": "Split Scroll Section",
        "settings": [
            {
                "id": "lnw-split-scroll",
                "type": "text",
                "label": "Add a split scroll section"
            },
            {
                "id": "blog-link",
                "type": "url",
                "label": "Blog Link"
            }
        ],
        "templates": ["index"],
        "presets": [
            {
                "name": "Custom split scroll",
                "category": "LNW"
            }
        ],
        "blocks": [
            {
                "name": "Column 1 Elements",
                "type": "first-column-elements",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "first-column-image",
                        "label": "Image"
                    },
                    {
                        "type": "html",
                        "id": "first-column-image",
                        "label": "Text"
                      }
                      
                    
                ]
            }
        ]
    
}
{% endschema %}