<section>Test</section>


{% schema %}
  {
	"name": "LNW Collection",
	"settings": [{
		"id": "lnw-collection",
		"type": "text",
		"label": "Add a collection"
	}],
	"templates": ["index"],
	"presets": [{
		"name": "LNW",
		"category": "Sliders"
	}]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}